/* "Gunmetal":"022b3a",
  "Metallic Seaweed":"1f7a8c",
  "Beau Blue":"bfdbf7",
  "Lavender Web":"e1e5f2",
  "White":"ffffff"
  
  
    Feature Font
    font-family: "Gloria Hallelujah", cursive;

    Text Blocks
    font-family: "Noto Sans", sans-serif;

    Some Headings
    font-family: "Noto Sans SC", sans-serif;
    
    
    
    */

* {
  background-color: #022b3a;
  font-family: "Noto Sans", sans-serif;
}

#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: noto sans sc, sans-serif;
  font-size: 2em;
  font-family: "Noto Sans SC", sans-serif;
}

a:hover {
  color: #e1e5f2;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  color: #ffffff;
  font-size: 4rem;
}

h2 {
  font-family: "Gloria Hallelujah", cursive;
  color: #1f7a8c;
  font-size: 2.5rem;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
}

p {
  font-family: "Noto Sans", sans-serif;
  color: #bfdbf7;
  font-size: 1rem;
}

ul {
  font-family: "Noto Sans SC", sans-serif;
  color: #bfdbf7;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
}

li {
  font-family: "Noto Sans", sans-serif;
  background-color: #1f7a8c;
  color: #022b3a;
  font-size: 1rem;
  font-weight: strong;
  padding: 5px;
  border-style: dotted;
  margin: 5px;
  border-color: #ffffff;
  min-width: 30vw;
}

#container {
  display: grid;
  grid-template: auto 1fr auto / 15% 1fr 15%;
}

#header {
  padding: 2rem;
  grid-column: 1 / 4;
  justify-self: stretch;
}

.left-sidebar {
  grid-column: 1 / 2;
}

.main {
  grid-column: 2 / 3;
}

.right-sidebar {
  grid-column: 3 / 4;
}

.footer {
  grid-column: 1 / 4;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#home {
  display: grid;
  place-items: center;
}

#front-page {
  display: inline-block;
  justify-content: center;
  height: 85vh;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
  margin: left auto;
  margin: right auto;
}

#onlycats-logo {
  height: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav button {
  background-color: transparent;

  color: #ffffff;
  margin: 1em;
  color: white;
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  align-self: flex-end;
}

/* Form Styling */

form {
  display: inline-block;
  height: 80vh;
  justify-content: space-around;
  align-content: space-between;
}

.form-box {
  padding: 1em;
  justify-content: stretch;
}

.form-box-large {
  padding: 1em;
  justify-items: stretch;
  justify-content: space-between;
}

.form-box-category {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-items: space-between;
  justify-content: stretch;
}

input #description {
  height: 5vh;
}

form {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}

.web-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

label {
  display: flex;
  /* align-self: center; */
  float: left;
  text-align: left;
  vertical-align: auto;
  margin-right: 15px;
  width: 100px;
  color: #bfdbf7;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.5em;
  margin-right: 2em;
  width: 10em;
}

button:hover {
  background-color: #1f7a8c;
  border-radius: 6px;
  color: #ffffff;
}

input {
  display: flex;
  justify-self: stretch;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #bfdbf7;
  border-radius: 4px;
  background-color: #ffffff;
  color: #022b3a;
  width: 100%;

  font-family: "Noto Sans", sans-serif;
}

.category select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #bfdbf7;
  border-radius: 4px;
  background-color: #ffffff;
  color: #022b3a;
  width: 40em;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: end;
}

.option {
  text-align: end;
}

select {
  text-decoration: none;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.5em;
}

input:focus {
  border: 3px solid #1f7a8c;
}

select {
  padding: 12px 20px;

  border: 2px solid #bfdbf7;
  background-color: #ffffff;
  color: #022b3a;
}

textarea:focus,
input:focus {
  border: 2px solid #900;
}

.form-select {
  display: flex;
  justify-content: center;
}

select {
  float: right;
  display: flex;
  align-items: flex-start;
}

.form-submit {
  background-color: transparent;
  border-radius: 6px;
  color: #ffffff;
  margin: 1em;
  color: white;
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  align-self: flex-end;
  float: right;
}

/* On screens that are 600px or more*/

@media screen and (min-width: 1200px) {
  .web-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .form-submit {
    align-self: flex-start;
  }
  .form-box {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex;
  }

  .form-box-large {
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

  .form-box-category {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-items: space-between;
    justify-content: space-between;
    width: 800px;
  }

  button:hover {
    background-color: #1f7a8c;
    border-radius: 6px;
    color: #ffffff;
  }

  input {
    padding: 12px 20px;
    margin: 8px 0;

    width: 800px;
  }

  .category select {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #bfdbf7;
    border-radius: 4px;
    background-color: #ffffff;
    color: #022b3a;
    width: 40em;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: end;
  }

  .option {
    text-align: end;
  }
}

/* On screens that are 600px or less*/

@media screen and (max-width: 600px) {
  /* #container {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  } */

  #header {
    padding: 2rem;
    grid-column: 1 / 4;
    justify-self: stretch;
  }

  .left-sidebar {
    grid-column: 1 / 2;
  }

  .main {
    grid-column: 2 / 3;
  }

  .right-sidebar {
    grid-column: 3 / 4;
  }

  .footer {
    grid-column: 1 / 4;
  }
  /* 

  responsive design needed here 
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

*/
  #onlycats-logo {
    display: flex;
    width: 400px;
  }
}
